.graph ellipse, .graph polygon{
  fill: #48483A;
  stroke-width: 0;
  stroke: #BFBFB0;
}

body{
  background-color: #48483A;
  margin: 0px;
  padding: 0px;
}
.footer{
  font-family: Optima, Cambria, sans-serif;
  font-size: 6px;
  color: #BFBFB0;
  background-color: #48483A;
  position: fixed;
  left: 0;
  bottom: 0;
  border-style: solid solid none none;
  padding: 3px;
  text-align: center;
  zoom: normal;
}
.footer p{
  margin: 0;
  padding: 0;
  border: 0;
}

text{
  font-family: Optima, Cambria, sans-serif;
  font-weight: bold;
  fill: #48483A;
  /* text-transform: uppercase; */
}

.edge polygon{
  stroke-width: 0;
  fill: #BFBFB0;
}

.node ellipse, .node polygon{
  stroke-width: 2;
}

g.race polygon{
  fill: #BFBFB0;
}

g.barbarian polygon, g.barbarian ellipse{
  fill:   #F28C2C;
}

g.paladin polygon, g.paladin ellipse{
  fill: #4BA5BE;
}

g.druid polygon, g.druid ellipse{
  fill: #AAD922;
}

g.fighter polygon, g.fighter ellipse{
  fill: #86849A;
}

g.minor ellipse{
  /* fill: #a79dbc; */
  stroke-width: 1;
}

g.selected polygon, g.selected ellipse{
  fill: #6C0F1E !important;
}

g.selected text{
  fill: #BFBFB0 !important;
}
